.PMT-Timetable-PMTTimetableSearch {
  background-color: #121212;
  display: grid;
  grid-template-areas: "searchByBusStop" "orRow" "searchByBusRoute";
  grid-template-rows: auto auto auto;
  margin-inline: 10rem;
  padding: 1rem;
  border-radius: 5px;
  row-gap: 1rem;
}

.searchByBusStop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.orRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchByBusRoute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.searchButton {
  outline: 0px;
  border: 1px solid #2e7d32;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #2e7d32;
  color: #ffffff;
}

.searchButton:hover {
  background-color: #0b0c10;
  border: solid 1px #2e7d32;
}

.searchButton:active {
  background-color: #2e7d32;
  color: #ffffff;
}

.orRow-text {
  color: #ffffff;
}
