.AutoCompleteInput {
  display: flex;
  flex-direction: row;
  position: relative;
}

.AutoCompleteInput-Input {
  padding: 0.5rem;
  font-size: 0.875rem;
  min-width: 25rem;
}

.suggestions {
  width: 40rem;
  padding-inline: 0;
  max-height: 15rem;
  overflow-y: auto;
  list-style: none;
  border: 1px solid #0b0c10;
  background-color: aliceblue;
  position: absolute;
  top: 2rem;
  border-radius: 4px;
  z-index: 1;
}

.suggestionItem {
  padding: 0.5rem;
  height: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-family: "Tiro Devanagari Marathi", serif;
}
